:root{
  --containerColor:rgb(255, 217, 0);
}


body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(90deg, red, darkorange 30%,darkorange 70%, red );
}

h1 {
  font-size: 3rem;
  color: maroon;
  background-color: grey;
  padding: 40px 25px;
  width: 80%;
  text-align: center;
  border-radius: 15px;
  border: 5px solid black
}


#hud{
  background-color: var(--containerColor);;
  padding:20px;
  text-align: center;
  font-size: x-large;
  border: black solid 5px;
  border-radius: 10px;
  width: 65%;
  margin: 10px auto;
}

.section {  border: black solid 5px;
  border-radius: 15px;
  width: 75%;
  height: fit-content;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--containerColor);
}

.main-menu {
  border: black solid 5px;
  border-radius: 15px;
  width: 75%;
  height: fit-content;
  min-height: 400px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--containerColor);
}

.game-screen{
  display: none;
  border: black solid 5px;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  min-height: 400px;
  min-width: 660px;
  padding: 30px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--containerColor);
}

.end-screen{
  display: none;
  border: black solid 5px;
  border-radius: 15px;
  width: 75%;
  height: fit-content;
  min-height: 400px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--containerColor);
}



.time-remaining-display{
  position: relative;
  /* bottom:60px; */

}

.hidden.hidden{
  animation: fade-out 0.8s;
}

.reveal.reveal{
  animation: fade-in 0.8s;
}

#start-game{
  cursor: pointer;
  background-color:grey;
  font-size: x-large;
  color: white;
  border: black solid 5px;
  border-radius: 15px;
  width: 50%;
  height: 60px;
  transition: background-color 0.5s, border 0.5s;
}

#start-game:hover{
  background-color:rgb(173, 173, 173);
  color: white;
  border: red solid 5px;
  transition: background-color 0.5s, border 0.5s;
}

#start-game:active{
  background-color:white;
  color: white;
  border: pink solid 5px;
  transition: background-color 50ms, border 50ms;
}

.word-slots{
  background-color: red;
  text-align: center;
  padding:30px;
  margin:0 30px;
  height: fit-content;
  width: 730px;
}
.letter-slot{
  width:40px;
  height:50px;
  text-align: center;
  font-size: xx-large;
  font-family: 'Bungee', cursive;
}

.end-screen .end-screen-title {
  font-size: 2rem;
  color: maroon;
  background-color: grey;
  padding: 40px 25px;
  margin-top: 30px;
  width: 80%;
  text-align: center;
  border-radius: 15px;
  border: 5px solid black
}
.end-screen .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  background-color: black;
  list-style: none;
  text-align: center;
  margin: 15px auto 0 auto;
  padding: 15px;
  border: 5px black solid;
  width: fit-content;
  height: 100px;
  border-radius: 15px;
}

.end-screen p {
  margin:0;
  font-weight: bold;
  color:white;
}

.end-screen .return-main-menu {
  cursor:pointer;
  border: black solid 5px;
  padding:25px;
  margin: 20px;
  background-color:rgb(90, 90, 90);
  text-align: center;
  font-size: 1.5em;
  color: white;
  border-radius: 15px;
  width:fit-content;
  height: fit-content;
  transition: background-color 0.3s, border 0.3s;
}

.end-screen .return-main-menu:hover{
  background-color:rgb(129, 129, 129);
  color: white;
  border: red solid 5px;
  transition: background-color 0.3s, border 0.3s;
}

.end-screen .return-main-menu:active{
  background-color:white;
  color: white;
  border: pink solid 5px;
  transition: background-color 50ms, border 50ms;
}

@keyframes fade-in {
  0% {opacity: 0}
  100%{opacity:1}
}

@keyframes fade-out {
  0% {opacity: 1}
  100%{opacity:0}
}